<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <TotalTime>2181</TotalTime>
  <Words>443</Words>
  <Application>Microsoft Office PowerPoint</Application>
  <PresentationFormat>Widescreen</PresentationFormat>
  <Paragraphs>58</Paragraphs>
  <Slides>4</Slides>
  <Notes>4</Notes>
  <HiddenSlides>0</HiddenSlides>
  <MMClips>0</MMClips>
  <ScaleCrop>false</ScaleCrop>
  <HeadingPairs>
    <vt:vector size="6" baseType="variant">
      <vt:variant>
        <vt:lpstr>Fonts Used</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>7</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>Theme</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>1</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>Slide Titles</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>4</vt:i4>
      </vt:variant>
    </vt:vector>
  </HeadingPairs>
  <TitlesOfParts>
    <vt:vector size="12" baseType="lpstr">
      <vt:lpstr>Arial</vt:lpstr>
      <vt:lpstr>Calibri</vt:lpstr>
      <vt:lpstr>Century Gothic</vt:lpstr>
      <vt:lpstr>Consolas</vt:lpstr>
      <vt:lpstr>Segoe UI</vt:lpstr>
      <vt:lpstr>Segoe UI (Body)</vt:lpstr>
      <vt:lpstr>Verdana</vt:lpstr>
      <vt:lpstr>Office Theme</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
      <vt:lpstr>PowerPoint Presentation</vt:lpstr>
    </vt:vector>
  </TitlesOfParts>
  <Manager/>
  <Company/>
  <LinksUpToDate>false</LinksUpToDate>
  <SharedDoc>false</SharedDoc>
  <HyperlinkBase/>
  <HyperlinksChanged>false</HyperlinksChanged>
  <AppVersion>16.0000</AppVersion>
</Properties>
